html,body{
  height:100%;
}

body{
    background:white;
}

.controls{
    padding-top: 50px;
}
.center{
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.jumbotron{
    min-height: 80px;
}

svg{
    width: 100%;
    padding-left: 15px;
}

#legend{
    display: none;
}

.week{
    width: 10px;
    height: 10px;
}

.past{
    fill: red;
    y: 10;
}

.present{
    fill: green;
    y: 30;
}

.future{
    fill: gray;
    y: 50;
}

svg.weeksLegend{
    height: 90px;
    min-width: 550px;
}

.weeksLegendItem, .week{
    opacity: .6;
}

/* Tip style*/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#errorMsg{
    display: none;
}

#githubLink{
  position: fixed;
  bottom:30px;
  right: 30px;
}